cloud-n8n/US-Leads-Call-Trigger.json
{
  "name": "US Leads - Call Trigger",
  "nodes": [
    {
      "parameters": {
        "notice": "Runs daily at 8:30 AM UTC (which is 3:30 AM or 4:30 AM ET depending on DST)",
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 20 * * 1-5"
            }
          ]
        }
      },
      "id": "082a3373-9711-412f-92f1-efe101231607",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -53616,
        1152
      ],
      "notes": "Every 30 min, 9AM-6PM EST, Mon-Fri. Configure cron: */30 9-18 * * 1-5 in n8n settings."
    },
    {
      "parameters": {
        "jsCode": "// Business Hours Validation for US Eastern Time\n// Hours: 10 AM - 5 PM ET, Monday-Friday only\n// Cron runs 10-16 (10 AM to 4:30 PM), this validates the same window\nconst TZ = 'America/New_York';\nconst now = new Date();\nconst nowET = new Date(now.toLocaleString('en-US', { timeZone: TZ }));\nconst dayOfWeek = nowET.getDay(); // 0 = Sunday, 6 = Saturday\nconst hour = nowET.getHours();\n\n// Check if weekend (Saturday = 6, Sunday = 0)\nconst isWeekend = dayOfWeek === 0 || dayOfWeek === 6;\n\n// Check if within business hours (10 AM - 5 PM = hours 10-16)\nconst isBusinessHours = hour >= 10 && hour < 17;\n\n// Validation result - throw errors to stop workflow\nif (isWeekend) {\n  throw new Error('Workflow stopped: Today is a weekend. Calls only run Monday-Friday.');\n}\n\nif (!isBusinessHours) {\n  const hour12 = hour % 12 || 12;\n  const ampm = hour >= 12 ? 'PM' : 'AM';\n  throw new Error(`Workflow stopped: Current time is ${hour12}:${String(nowET.getMinutes()).padStart(2, '0')} ${ampm} ET. Business hours are 10 AM - 5 PM ET.`);\n}\n\n// If all checks pass, return input data to continue workflow\nreturn $input.all();"
      },
      "id": "afd83ca8-b121-4464-858f-1cb441c7471e",
      "name": "Check Business Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -52944,
        1152
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "id"
        },
        "options": {}
      },
      "id": "1250742f-f5a2-4500-81d8-d908c6312672",
      "name": "Read Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -52720,
        1152
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VZ12jhLOk00TSamu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.all();\nconst now = new Date();\n\n// Check if a specific phone is callable\nfunction isPhoneCallable(phone, status) {\n  if (!phone || String(phone).trim() === '') return false;\n  const s = (status || 'pending').toLowerCase().trim();\n  // These statuses mean the phone can still be tried\n  const callableStatuses = ['pending', 'no_answer', 'busy', 'voicemail', 'retry', 'scheduled'];\n  // These statuses mean phone is done (don't call again)\n  const terminalStatuses = ['connected', 'declined', 'invalid', 'exhausted'];\n  if (terminalStatuses.includes(s)) return false;\n  return callableStatuses.includes(s) || s === '';\n}\n\n// Find the next callable phone for a lead\nfunction getNextCallablePhone(lead) {\n  const phones = [\n    { phone: lead.phone_1, status: lead.phone_1_status, index: 1 },\n    { phone: lead.phone_2, status: lead.phone_2_status, index: 2 },\n    { phone: lead.phone_3, status: lead.phone_3_status, index: 3 }\n  ];\n  \n  // Try current_phone_index first\n  const currentIdx = parseInt(lead.current_phone_index) || 1;\n  const currentPhone = phones[currentIdx - 1];\n  if (currentPhone && isPhoneCallable(currentPhone.phone, currentPhone.status)) {\n    return currentPhone;\n  }\n  \n  // Then try others in order\n  for (const p of phones) {\n    if (p.index !== currentIdx && isPhoneCallable(p.phone, p.status)) {\n      return p;\n    }\n  }\n  \n  return null; // No callable phone found\n}\n\nconst filteredLeads = leads.filter(item => {\n  const lead = item.json;\n  \n  // call_status must be pending, scheduled, retry, or callback_scheduled\n  const status = (lead.call_status || '').toLowerCase().trim();\n  const validStatus = ['pending', 'scheduled', 'retry', 'callback_scheduled'].includes(status);\n  \n  // Max 9 total attempts (3 phones x 3 attempts each)\n  const attempts = parseInt(lead.call_attempts) || 0;\n  const underMaxAttempts = attempts < 9;\n  \n  // Must have at least one callable phone\n  const nextPhone = getNextCallablePhone(lead);\n  const hasCallablePhone = nextPhone !== null;\n  \n  // next_call_date <= now (or empty = eligible)\n  let nextCallDateOk = true;\n  if (lead.next_call_date && lead.next_call_date.toString().trim() !== '') {\n    const nextCallDate = new Date(lead.next_call_date);\n    nextCallDateOk = nextCallDate <= now;\n  }\n  \n  if (validStatus && underMaxAttempts && hasCallablePhone && nextCallDateOk) {\n    // Attach the selected phone info to the lead for downstream use\n    item.json._next_phone = nextPhone.phone;\n    item.json._next_phone_index = String(nextPhone.index);\n    return true;\n  }\n  return false;\n});\n\n// Sort by priority_score descending\nfilteredLeads.sort((a, b) => {\n  const scoreA = parseInt(a.json.priority_score) || 0;\n  const scoreB = parseInt(b.json.priority_score) || 0;\n  return scoreB - scoreA;\n});\n\n// Limit to 1 lead per execution\nreturn filteredLeads.slice(0, 20);"
      },
      "id": "7e93b023-e710-4574-93c7-3ef329cb5599",
      "name": "Filter & Sort Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -52496,
        1152
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-leads-condition",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c4283885-a947-47f5-acde-262334adc677",
      "name": "Has Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -52272,
        1152
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.first().json;\nreturn [{\n  json: {\n    lead_id: lead.lead_id,\n    call_status: 'calling',\n   call_attempts: String((parseInt(lead.call_attempts) || 0) + 1),\n    last_call_date: new Date().toISOString(),\n    current_phone_index: lead._next_phone_index || lead.current_phone_index || '1'\n  }\n}];"
      },
      "id": "6ff28db2-7d61-4300-b66c-f11cc2d8e279",
      "name": "Prepare Calling Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -51824,
        976
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0",
          "mode": "list",
          "cachedResultName": "us-masterqueue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_1",
              "displayName": "phone_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_2",
              "displayName": "phone_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_3",
              "displayName": "phone_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_phone_index",
              "displayName": "current_phone_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_1_status",
              "displayName": "phone_1_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_2_status",
              "displayName": "phone_2_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_3_status",
              "displayName": "phone_3_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_name",
              "displayName": "event_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_date",
              "displayName": "event_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "venue",
              "displayName": "venue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "added_date",
              "displayName": "added_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority_score",
              "displayName": "priority_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_status",
              "displayName": "call_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_attempts",
              "displayName": "call_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_call_date",
              "displayName": "last_call_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_call_date",
              "displayName": "next_call_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retell_call_id",
              "displayName": "retell_call_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_duration",
              "displayName": "call_duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_transcript",
              "displayName": "call_transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recording_url",
              "displayName": "recording_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_sentiment",
              "displayName": "user_sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "disconnection_reason",
              "displayName": "disconnection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_outcome",
              "displayName": "call_outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "interest_level",
              "displayName": "interest_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_summary",
              "displayName": "call_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "meeting_scheduled",
              "displayName": "meeting_scheduled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_captured",
              "displayName": "email_captured",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "objection_reason",
              "displayName": "objection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "callback_time",
              "displayName": "callback_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "decision_maker",
              "displayName": "decision_maker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pain_points",
              "displayName": "pain_points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_steps",
              "displayName": "next_steps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_status",
              "displayName": "follow_up_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alert_sent",
              "displayName": "alert_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alert_sent_date",
              "displayName": "alert_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "demo_scheduled",
              "displayName": "demo_scheduled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_successful",
              "displayName": "call_successful",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_cost",
              "displayName": "call_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_id",
              "displayName": "agent_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "17ccb47b-50b8-4599-89f2-303c26f244be",
      "name": "Update Status to Calling",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -51600,
        976
      ],
      "retryOnFail": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VZ12jhLOk00TSamu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get original lead data from the filter step\nconst lead = $('Loop Over Items').first().json;\n// Use the selected phone from filter step\nconst phone = String(lead._next_phone || lead.phone_1 || '').trim();\nconst phoneIndex = String(lead._next_phone_index || lead.current_phone_index || '1');\n\n// Determine how many phones this lead actually has\nconst maxPhoneIndex = lead.phone_3 ? '3' : (lead.phone_2 ? '2' : '1');\n\n// Normalize phone to E.164\nlet normalizedPhone = phone.replace(/[\\s\\-\\(\\)]/g, '');\nif (!normalizedPhone.startsWith('+')) normalizedPhone = '+' + normalizedPhone;\n\nconst dynamicVars = {\n  customer_name: lead.name || 'there',\n  event_name: lead.event_name || 'your upcoming event',\n  event_date: lead.event_date || '',\n  venue: lead.venue || '',\n  city: lead.city || ''\n};\n\nreturn [{\n  json: {\n    lead_id: lead.lead_id,\n    to_number: normalizedPhone,\n    from_number: '+19298284999',\n    agent_id: 'agent_9b6f6050f1902acf8c2676e242',\n    phone_index: phoneIndex,\n    dynamic_variables: dynamicVars,\n    metadata: {\n      lead_id: lead.lead_id,\n      phone_index: phoneIndex,\n      attempt: (parseInt(lead.call_attempts) || 0) + 1,\n      source: 'n8n_call_trigger',\n      max_phone_index: maxPhoneIndex\n    }\n  }\n}];\n"
      },
      "id": "d4cbe310-7055-4a94-90a4-b1ea10f90ae5",
      "name": "Prepare Retell Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -51376,
        976
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_number\": \"{{ $json.from_number }}\",\n  \"to_number\": \"{{ $json.to_number }}\",\n  \"override_agent_id\": \"{{ $json.agent_id }}\",\n  \"metadata\": {{ JSON.stringify($json.metadata) }},\n  \"retell_llm_dynamic_variables\": {{ JSON.stringify($json.dynamic_variables) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "f0914b77-6003-4962-9490-01d6c819da7f",
      "name": "Call Retell API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -51152,
        976
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "l1CmlLGQbP6AQ8Nr",
          "name": "retell-test"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst prepData = $('Prepare Retell Data').first().json;\n\nif (response.call_id) {\n  return [{\n    json: {\n      success: true,\n      lead_id: prepData.metadata.lead_id,\n      call_id: response.call_id,\n      call_status: response.call_status || 'registered',\n      phone_index: prepData.phone_index\n    }\n  }];\n} else {\n  return [{\n    json: {\n      success: false,\n      lead_id: prepData.metadata.lead_id,\n      error: response.error || response.message || JSON.stringify(response),\n      phone_index: prepData.phone_index\n    }\n  }];\n}"
      },
      "id": "91b03c34-c5be-446e-801b-6049be71c2c2",
      "name": "Parse & Store Call ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -50928,
        976
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "call-started-condition",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4505fad2-0b73-4c37-b1b8-85d15b41b40c",
      "name": "Call Started?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -50704,
        976
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build dynamic update object with correct phone_X_status field\nconst data = $input.item.json;\nconst phoneIndex = parseInt(data.phone_index) || 1;\n\nconst update = {\n  lead_id: data.lead_id,\n  retell_call_id: data.call_id,\n  call_status: 'initiated'\n};\n\n// Dynamically set the correct phone status\nif (phoneIndex === 1) update.phone_1_status = 'calling';\nif (phoneIndex === 2) update.phone_2_status = 'calling';\nif (phoneIndex === 3) update.phone_3_status = 'calling';\n\nreturn [{ json: update }];"
      },
      "id": "90beaf7a-1071-43d0-9b17-1101bf049169",
      "name": "Prepare Call ID Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -50480,
        880
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0",
          "mode": "list",
          "cachedResultName": "us-masterqueue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_1",
              "displayName": "phone_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_2",
              "displayName": "phone_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_3",
              "displayName": "phone_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_phone_index",
              "displayName": "current_phone_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_1_status",
              "displayName": "phone_1_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_2_status",
              "displayName": "phone_2_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_3_status",
              "displayName": "phone_3_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_name",
              "displayName": "event_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_date",
              "displayName": "event_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "venue",
              "displayName": "venue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "added_date",
              "displayName": "added_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority_score",
              "displayName": "priority_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_status",
              "displayName": "call_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_attempts",
              "displayName": "call_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_call_date",
              "displayName": "last_call_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_call_date",
              "displayName": "next_call_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retell_call_id",
              "displayName": "retell_call_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_duration",
              "displayName": "call_duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_transcript",
              "displayName": "call_transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recording_url",
              "displayName": "recording_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_sentiment",
              "displayName": "user_sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "disconnection_reason",
              "displayName": "disconnection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_outcome",
              "displayName": "call_outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "interest_level",
              "displayName": "interest_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_summary",
              "displayName": "call_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "meeting_scheduled",
              "displayName": "meeting_scheduled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_captured",
              "displayName": "email_captured",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "objection_reason",
              "displayName": "objection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "callback_time",
              "displayName": "callback_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "decision_maker",
              "displayName": "decision_maker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pain_points",
              "displayName": "pain_points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_steps",
              "displayName": "next_steps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_status",
              "displayName": "follow_up_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alert_sent",
              "displayName": "alert_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alert_sent_date",
              "displayName": "alert_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "demo_scheduled",
              "displayName": "demo_scheduled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_successful",
              "displayName": "call_successful",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_cost",
              "displayName": "call_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_id",
              "displayName": "agent_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6d19c78f-3c6f-40a5-b567-17eba90540a3",
      "name": "Update Call ID in Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -50256,
        880
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VZ12jhLOk00TSamu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This only fires when Retell API itself failed (no call_id returned)\n// Real call outcomes (no_answer, busy, voicemail) are handled by Call Analyzed flow\nconst data = $input.item.json;\nconst phoneIndex = parseInt(data.phone_index) || 1;\nconst lead = $('Loop Over Items').first().json;\n\n// Determine max phone index from actual lead data\nconst maxPhoneIndex = lead.phone_3 ? 3 : (lead.phone_2 ? 2 : 1);\n\n// Use the ALREADY INCREMENTED value (Prepare Calling Update already did +1)\nconst currentAttempts = (parseInt(lead.call_attempts) || 0) + 1;\n\n// Per-phone API failure tracking (3 per phone, not 3 global)\nconst MAX_API_RETRIES_PER_PHONE = 3;\nconst perPhoneAttempts = currentAttempts - ((phoneIndex - 1) * MAX_API_RETRIES_PER_PHONE);\n\n// All times in US Eastern\nconst TZ = 'America/New_York';\nconst now = new Date();\nconst nowET = new Date(now.toLocaleString('en-US', { timeZone: TZ }));\nconst tzOffset = now.getTime() - nowET.getTime();\nconst toUTCIso = (etDate) => new Date(etDate.getTime() + tzOffset).toISOString();\n\nconst update = {\n  lead_id: data.lead_id,\n  call_status: 'retry',\n  last_call_date: now.toISOString(),\n  call_attempts: String(currentAttempts),\n};\n\nif (perPhoneAttempts >= MAX_API_RETRIES_PER_PHONE && phoneIndex < maxPhoneIndex) {\n  // Move to next phone\n  update.current_phone_index = String(phoneIndex + 1);\n  update.call_status = 'scheduled';\n  update.next_call_date = toUTCIso(new Date(nowET.getTime() + 60 * 60 * 1000));\n  update.follow_up_status = 'scheduled_callback';\n  if (phoneIndex === 1) update.phone_1_status = 'failed';\n  if (phoneIndex === 2) update.phone_2_status = 'failed';\n  if (phoneIndex === 3) update.phone_3_status = 'failed';\n} else if (perPhoneAttempts >= MAX_API_RETRIES_PER_PHONE && phoneIndex >= maxPhoneIndex) {\n  // All phones exhausted\n  update.current_phone_index = String(phoneIndex);\n  update.call_status = 'exhausted';\n  update.follow_up_status = 'exhausted';\n  update.next_call_date = '';\n  if (phoneIndex === 1) update.phone_1_status = 'failed';\n  if (phoneIndex === 2) update.phone_2_status = 'failed';\n  if (phoneIndex === 3) update.phone_3_status = 'failed';\n} else {\n  // Retry same phone in 30 min — API error is not the phone's fault\n  update.current_phone_index = String(phoneIndex);\n  update.next_call_date = toUTCIso(new Date(nowET.getTime() + 30 * 60 * 1000));\n  if (phoneIndex === 1) update.phone_1_status = 'retry';\n  if (phoneIndex === 2) update.phone_2_status = 'retry';\n  if (phoneIndex === 3) update.phone_3_status = 'retry';\n}\n\nreturn [{ json: update }];\n"
      },
      "id": "b07206fe-5928-440f-b89f-360109f7b8c7",
      "name": "Prepare Failed Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -50480,
        1072
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0",
          "mode": "list",
          "cachedResultName": "us-masterqueue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_1",
              "displayName": "phone_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_2",
              "displayName": "phone_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_3",
              "displayName": "phone_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_phone_index",
              "displayName": "current_phone_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_1_status",
              "displayName": "phone_1_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_2_status",
              "displayName": "phone_2_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_3_status",
              "displayName": "phone_3_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_name",
              "displayName": "event_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_date",
              "displayName": "event_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "venue",
              "displayName": "venue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "added_date",
              "displayName": "added_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority_score",
              "displayName": "priority_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_status",
              "displayName": "call_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_attempts",
              "displayName": "call_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_call_date",
              "displayName": "last_call_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_call_date",
              "displayName": "next_call_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retell_call_id",
              "displayName": "retell_call_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_duration",
              "displayName": "call_duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_transcript",
              "displayName": "call_transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recording_url",
              "displayName": "recording_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_sentiment",
              "displayName": "user_sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "disconnection_reason",
              "displayName": "disconnection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_outcome",
              "displayName": "call_outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "interest_level",
              "displayName": "interest_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_summary",
              "displayName": "call_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "meeting_scheduled",
              "displayName": "meeting_scheduled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_captured",
              "displayName": "email_captured",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "objection_reason",
              "displayName": "objection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "callback_time",
              "displayName": "callback_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "decision_maker",
              "displayName": "decision_maker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pain_points",
              "displayName": "pain_points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_steps",
              "displayName": "next_steps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_status",
              "displayName": "follow_up_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alert_sent",
              "displayName": "alert_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alert_sent_date",
              "displayName": "alert_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "demo_scheduled",
              "displayName": "demo_scheduled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_successful",
              "displayName": "call_successful",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_cost",
              "displayName": "call_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_id",
              "displayName": "agent_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_captured",
              "displayName": "phone_captured",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_hot",
              "displayName": "is_hot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6e5af8e7-c032-474f-8596-a048952c92b3",
      "name": "Mark Call Failed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -50256,
        1072
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VZ12jhLOk00TSamu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {},
      "id": "fb5a440f-80bb-48cc-9fed-0383200fcb97",
      "name": "No Leads",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -52048,
        1248
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "en.usa#holiday@group.v.calendar.google.com",
          "mode": "list",
          "cachedResultName": "Holidays in United States"
        },
        "timeMin": "={{ $now.startOf('day') }}",
        "timeMax": "={{ $now.endOf('day') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.3,
      "position": [
        -53392,
        1152
      ],
      "id": "8337ffa8-6a65-4791-9656-d66c35ddb295",
      "name": "Get many events",
      "alwaysOutputData": true,
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "EkrjcxKavGYrNUMx",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "30541919-4536-4928-ad8b-ddcc860b24cd",
              "leftValue": "={{ $json.summary }}",
              "operator": {
                "type": "string",
                "operation": "empty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -53168,
        1152
      ],
      "id": "3aa17967-7298-4df3-8baa-6654a1549277",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -52048,
        1056
      ],
      "id": "a6409a23-57ec-4a80-9183-036e5c924e15",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -50032,
        1056
      ],
      "id": "b5268211-6558-48a9-9632-bcace2d26581",
      "name": "Wait",
      "webhookId": "aadc33bd-7e5d-4572-a1dc-c8743868dc9a"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Business Hours": {
      "main": [
        [
          {
            "node": "Read Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheet": {
      "main": [
        [
          {
            "node": "Filter & Sort Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Sort Leads": {
      "main": [
        [
          {
            "node": "Has Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Leads?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Calling Update": {
      "main": [
        [
          {
            "node": "Update Status to Calling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Calling": {
      "main": [
        [
          {
            "node": "Prepare Retell Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Retell Data": {
      "main": [
        [
          {
            "node": "Call Retell API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Retell API": {
      "main": [
        [
          {
            "node": "Parse & Store Call ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Store Call ID": {
      "main": [
        [
          {
            "node": "Call Started?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Started?": {
      "main": [
        [
          {
            "node": "Prepare Call ID Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Failed Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Call ID Update": {
      "main": [
        [
          {
            "node": "Update Call ID in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Failed Update": {
      "main": [
        [
          {
            "node": "Mark Call Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Check Business Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Prepare Calling Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call ID in Sheet": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Call Failed": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timeSavedMode": "fixed",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "versionId": "07a58aea-0e2d-4086-8cd0-015bd286d48d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a0e42c1d31da8fc890458d25fe306020bf89ef8b90e1e0252fbe295dd492109d"
  },
  "id": "eWMJi4eKI7Rf3H38",
  "tags": [
    {
      "updatedAt": "2026-02-04T08:45:09.146Z",
      "createdAt": "2026-02-04T08:45:09.146Z",
      "id": "dCusG8oU3gDWhIrq",
      "name": "Retell AI"
    },
    {
      "updatedAt": "2026-02-04T08:45:09.182Z",
      "createdAt": "2026-02-04T08:45:09.182Z",
      "id": "xJQmsy6KRXY1Gdod",
      "name": "EventTitans"
    },
    {
      "updatedAt": "2026-02-04T08:45:09.117Z",
      "createdAt": "2026-02-04T08:45:09.117Z",
      "id": "y88nWRdUsFmAgcDi",
      "name": "Cold Calling"
    }
  ]
}