workflows/workflow1-call-trigger.json
{
  "name": "US Leads - Call Trigger",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 30
            }
          ]
        }
      },
      "id": "082a3373-9711-412f-92f1-efe101231607",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1952,
        320
      ],
      "notes": "Every 30 min, 9AM-6PM EST, Mon-Fri. Configure cron: */30 9-18 * * 1-5 in n8n settings."
    },
    {
      "parameters": {
        "jsCode": "// ============================================\n// BUSINESS HOURS GATE - TEST MODE ENABLED\n// ============================================\n\nconst TESTING_MODE = true; // Set to false for production\n\nif (TESTING_MODE) {\n  return $input.all();\n}\n\n// Business hours configuration\nconst BUSINESS_START = 9;  // 9 AM\nconst BUSINESS_END = 17;   // 5 PM (17:00)\nconst TIMEZONE = 'America/New_York';\n\n// US Federal Holidays 2024-2026\nconst US_HOLIDAYS = [\n  '2024-01-01', '2024-01-15', '2024-02-19', '2024-05-27',\n  '2024-06-19', '2024-07-04', '2024-09-02', '2024-10-14',\n  '2024-11-11', '2024-11-28', '2024-12-25',\n  '2025-01-01', '2025-01-20', '2025-02-17', '2025-05-26',\n  '2025-06-19', '2025-07-04', '2025-09-01', '2025-10-13',\n  '2025-11-11', '2025-11-27', '2025-12-25',\n  '2026-01-01', '2026-01-19', '2026-02-16', '2026-05-25',\n  '2026-06-19', '2026-07-03', '2026-09-07', '2026-10-12',\n  '2026-11-11', '2026-11-26', '2026-12-25'\n];\n\nconst now = new Date();\n\n// Get current time in US Eastern timezone (handles DST automatically)\nconst formatter = new Intl.DateTimeFormat('en-US', {\n  timeZone: TIMEZONE,\n  hour: 'numeric',\n  minute: 'numeric',\n  weekday: 'short',\n  year: 'numeric',\n  month: '2-digit',\n  day: '2-digit',\n  hour12: false\n});\n\nconst parts = formatter.formatToParts(now);\nconst getPart = (type) => parts.find(p => p.type === type)?.value;\n\nconst hour = parseInt(getPart('hour'));\nconst weekday = getPart('weekday');\nconst dateStr = `${getPart('year')}-${getPart('month')}-${getPart('day')}`;\n\n// Check conditions\nconst isWeekend = ['Sat', 'Sun'].includes(weekday);\nconst isHoliday = US_HOLIDAYS.includes(dateStr);\nconst isBusinessHours = hour >= BUSINESS_START && hour < BUSINESS_END;\n\n// Only proceed if: weekday + not holiday + business hours\nif (!isWeekend && !isHoliday && isBusinessHours) {\n  return $input.all();\n} else {\n  return []; // Block execution outside business hours\n}\n"
      },
      "id": "afd83ca8-b121-4464-858f-1cb441c7471e",
      "name": "Check Business Hours",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1728,
        320
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0",
          "mode": "list",
          "cachedResultName": "us-masterqueue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0/edit#gid=0"
        },
        "options": {}
      },
      "id": "1250742f-f5a2-4500-81d8-d908c6312672",
      "name": "Read Google Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -1504,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VZ12jhLOk00TSamu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const leads = $input.all();\nconst now = new Date();\n\n// Check if a specific phone is callable\nfunction isPhoneCallable(phone, status) {\n  if (!phone || String(phone).trim() === '') return false;\n  const s = (status || 'pending').toLowerCase().trim();\n  // These statuses mean the phone can still be tried\n  const callableStatuses = ['pending', 'no_answer', 'busy', 'voicemail', 'retry', 'scheduled'];\n  // These statuses mean phone is done (don't call again)\n  const terminalStatuses = ['connected', 'declined', 'invalid', 'exhausted'];\n  if (terminalStatuses.includes(s)) return false;\n  return callableStatuses.includes(s) || s === '';\n}\n\n// Find the next callable phone for a lead\nfunction getNextCallablePhone(lead) {\n  const phones = [\n    { phone: lead.phone_1, status: lead.phone_1_status, index: 1 },\n    { phone: lead.phone_2, status: lead.phone_2_status, index: 2 },\n    { phone: lead.phone_3, status: lead.phone_3_status, index: 3 }\n  ];\n  \n  // Try current_phone_index first\n  const currentIdx = parseInt(lead.current_phone_index) || 1;\n  const currentPhone = phones[currentIdx - 1];\n  if (currentPhone && isPhoneCallable(currentPhone.phone, currentPhone.status)) {\n    return currentPhone;\n  }\n  \n  // Then try others in order\n  for (const p of phones) {\n    if (p.index !== currentIdx && isPhoneCallable(p.phone, p.status)) {\n      return p;\n    }\n  }\n  \n  return null; // No callable phone found\n}\n\nconst filteredLeads = leads.filter(item => {\n  const lead = item.json;\n  \n  // call_status must be pending, scheduled, retry, or callback_scheduled\n  const status = (lead.call_status || '').toLowerCase().trim();\n  const validStatus = ['pending', 'scheduled', 'retry', 'callback_scheduled'].includes(status);\n  \n  // Max 9 total attempts (3 phones x 3 attempts each)\n  const attempts = parseInt(lead.call_attempts) || 0;\n  const underMaxAttempts = attempts < 9;\n  \n  // Must have at least one callable phone\n  const nextPhone = getNextCallablePhone(lead);\n  const hasCallablePhone = nextPhone !== null;\n  \n  // next_call_date <= now (or empty = eligible)\n  let nextCallDateOk = true;\n  if (lead.next_call_date && lead.next_call_date.toString().trim() !== '') {\n    const nextCallDate = new Date(lead.next_call_date);\n    nextCallDateOk = nextCallDate <= now;\n  }\n  \n  if (validStatus && underMaxAttempts && hasCallablePhone && nextCallDateOk) {\n    // Attach the selected phone info to the lead for downstream use\n    item.json._next_phone = nextPhone.phone;\n    item.json._next_phone_index = String(nextPhone.index);\n    return true;\n  }\n  return false;\n});\n\n// Sort by priority_score descending\nfilteredLeads.sort((a, b) => {\n  const scoreA = parseInt(a.json.priority_score) || 0;\n  const scoreB = parseInt(b.json.priority_score) || 0;\n  return scoreB - scoreA;\n});\n\n// Limit to 5 leads per execution\nreturn filteredLeads.slice(0, 2);"
      },
      "id": "7e93b023-e710-4574-93c7-3ef329cb5599",
      "name": "Filter & Sort Leads",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1280,
        320
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-leads-condition",
              "leftValue": "={{ $input.all().length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c4283885-a947-47f5-acde-262334adc677",
      "name": "Has Leads?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -1056,
        320
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "1ffb3e7e-287b-42b5-b287-25eea27835ff",
      "name": "Loop Over Leads",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -832,
        224
      ]
    },
    {
      "parameters": {
        "jsCode": "const lead = $input.item.json;\nreturn [{\n  json: {\n    lead_id: lead.lead_id,\n    call_status: 'calling',\n   call_attempts: String((parseInt(lead.call_attempts) || 0) + 1),\n    last_call_date: new Date().toISOString(),\n    current_phone_index: lead._next_phone_index || lead.current_phone_index || '1'\n  }\n}];"
      },
      "id": "6ff28db2-7d61-4300-b66c-f11cc2d8e279",
      "name": "Prepare Calling Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -608,
        144
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0",
          "mode": "list",
          "cachedResultName": "us-masterqueue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_1",
              "displayName": "phone_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_2",
              "displayName": "phone_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_3",
              "displayName": "phone_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_phone_index",
              "displayName": "current_phone_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_1_status",
              "displayName": "phone_1_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_2_status",
              "displayName": "phone_2_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_3_status",
              "displayName": "phone_3_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_name",
              "displayName": "event_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_date",
              "displayName": "event_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "venue",
              "displayName": "venue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "added_date",
              "displayName": "added_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority_score",
              "displayName": "priority_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_status",
              "displayName": "call_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_attempts",
              "displayName": "call_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_call_date",
              "displayName": "last_call_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_call_date",
              "displayName": "next_call_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retell_call_id",
              "displayName": "retell_call_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_duration",
              "displayName": "call_duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_transcript",
              "displayName": "call_transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recording_url",
              "displayName": "recording_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_sentiment",
              "displayName": "user_sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "disconnection_reason",
              "displayName": "disconnection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_outcome",
              "displayName": "call_outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "interest_level",
              "displayName": "interest_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_summary",
              "displayName": "call_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "meeting_scheduled",
              "displayName": "meeting_scheduled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_captured",
              "displayName": "email_captured",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "objection_reason",
              "displayName": "objection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "callback_time",
              "displayName": "callback_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "decision_maker",
              "displayName": "decision_maker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pain_points",
              "displayName": "pain_points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_steps",
              "displayName": "next_steps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_status",
              "displayName": "follow_up_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alert_sent",
              "displayName": "alert_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alert_sent_date",
              "displayName": "alert_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "demo_scheduled",
              "displayName": "demo_scheduled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_successful",
              "displayName": "call_successful",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_cost",
              "displayName": "call_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_id",
              "displayName": "agent_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "17ccb47b-50b8-4599-89f2-303c26f244be",
      "name": "Update Status to Calling",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -384,
        144
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VZ12jhLOk00TSamu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get original lead data from the loop node\nconst lead = $('Loop Over Leads').first().json;\n\n// Use the selected phone from filter step\nconst phone = String(lead._next_phone || lead.phone_1 || '').trim();\nconst phoneIndex = String(lead._next_phone_index || lead.current_phone_index || '1');\n\n// Normalize phone to E.164\nlet normalizedPhone = phone.replace(/[\\s\\-\\(\\)]/g, '');\nif (!normalizedPhone.startsWith('+')) normalizedPhone = '+' + normalizedPhone;\n\nconst dynamicVars = {\n  customer_name: lead.name || 'there',\n  company_name: lead.company || '',\n  event_name: lead.event_name || 'your upcoming event',\n  event_date: lead.event_date || '',\n  venue: lead.venue || '',\n  city: lead.city || ''\n};\n\nreturn [{\n  json: {\n    lead_id: lead.lead_id,\n    to_number: normalizedPhone,\n    from_number: '+19298284999',\n    agent_id: 'agent_9b6f6050f1902acf8c2676e242',\n    phone_index: phoneIndex,\n    dynamic_variables: dynamicVars,\n    metadata: {\n      lead_id: lead.lead_id,\n      phone_index: phoneIndex,\n      attempt: (parseInt(lead.call_attempts) || 0) + 1,\n      source: 'n8n_call_trigger'\n    }\n  }\n}];\n"
      },
      "id": "d4cbe310-7055-4a94-90a4-b1ea10f90ae5",
      "name": "Prepare Retell Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -160,
        144
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.retellai.com/v2/create-phone-call",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from_number\": \"{{ $json.from_number }}\",\n  \"to_number\": \"{{ $json.to_number }}\",\n  \"override_agent_id\": \"{{ $json.agent_id }}\",\n  \"metadata\": {{ JSON.stringify($json.metadata) }},\n  \"retell_llm_dynamic_variables\": {{ JSON.stringify($json.dynamic_variables) }}\n}",
        "options": {
          "timeout": 30000
        }
      },
      "id": "f0914b77-6003-4962-9490-01d6c819da7f",
      "name": "Call Retell API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        144
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "l1CmlLGQbP6AQ8Nr",
          "name": "retell-test"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const response = $input.item.json;\nconst prepData = $('Prepare Retell Data').first().json;\n\nif (response.call_id) {\n  return [{\n    json: {\n      success: true,\n      lead_id: prepData.metadata.lead_id,\n      call_id: response.call_id,\n      call_status: response.call_status || 'registered',\n      phone_index: prepData.phone_index\n    }\n  }];\n} else {\n  return [{\n    json: {\n      success: false,\n      lead_id: prepData.metadata.lead_id,\n      error: response.error || response.message || JSON.stringify(response),\n      phone_index: prepData.phone_index\n    }\n  }];\n}"
      },
      "id": "91b03c34-c5be-446e-801b-6049be71c2c2",
      "name": "Parse & Store Call ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        288,
        144
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "call-started-condition",
              "leftValue": "={{ $json.success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "4505fad2-0b73-4c37-b1b8-85d15b41b40c",
      "name": "Call Started?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        512,
        144
      ]
    },
    {
      "parameters": {
        "jsCode": "// Build dynamic update object with correct phone_X_status field\nconst data = $input.item.json;\nconst phoneIndex = parseInt(data.phone_index) || 1;\n\nconst update = {\n  lead_id: data.lead_id,\n  retell_call_id: data.call_id,\n  call_status: 'initiated'\n};\n\n// Dynamically set the correct phone status\nif (phoneIndex === 1) update.phone_1_status = 'calling';\nif (phoneIndex === 2) update.phone_2_status = 'calling';\nif (phoneIndex === 3) update.phone_3_status = 'calling';\n\nreturn [{ json: update }];"
      },
      "id": "90beaf7a-1071-43d0-9b17-1101bf049169",
      "name": "Prepare Call ID Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        48
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0",
          "mode": "list",
          "cachedResultName": "us-masterqueue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_1",
              "displayName": "phone_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_2",
              "displayName": "phone_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_3",
              "displayName": "phone_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_phone_index",
              "displayName": "current_phone_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_1_status",
              "displayName": "phone_1_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_2_status",
              "displayName": "phone_2_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_3_status",
              "displayName": "phone_3_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_name",
              "displayName": "event_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_date",
              "displayName": "event_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "venue",
              "displayName": "venue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "added_date",
              "displayName": "added_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority_score",
              "displayName": "priority_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_status",
              "displayName": "call_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_attempts",
              "displayName": "call_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_call_date",
              "displayName": "last_call_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_call_date",
              "displayName": "next_call_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retell_call_id",
              "displayName": "retell_call_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_duration",
              "displayName": "call_duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_transcript",
              "displayName": "call_transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recording_url",
              "displayName": "recording_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_sentiment",
              "displayName": "user_sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "disconnection_reason",
              "displayName": "disconnection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_outcome",
              "displayName": "call_outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "interest_level",
              "displayName": "interest_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_summary",
              "displayName": "call_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "meeting_scheduled",
              "displayName": "meeting_scheduled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_captured",
              "displayName": "email_captured",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "objection_reason",
              "displayName": "objection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "callback_time",
              "displayName": "callback_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "decision_maker",
              "displayName": "decision_maker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pain_points",
              "displayName": "pain_points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_steps",
              "displayName": "next_steps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_status",
              "displayName": "follow_up_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alert_sent",
              "displayName": "alert_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alert_sent_date",
              "displayName": "alert_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "demo_scheduled",
              "displayName": "demo_scheduled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_successful",
              "displayName": "call_successful",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_cost",
              "displayName": "call_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_id",
              "displayName": "agent_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6d19c78f-3c6f-40a5-b567-17eba90540a3",
      "name": "Update Call ID in Sheet",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        960,
        48
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VZ12jhLOk00TSamu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This only fires when Retell API itself failed (no call_id returned)\n// Real call outcomes (no_answer, busy, voicemail) are handled by Call Analyzed flow\nconst data = $input.item.json;\nconst phoneIndex = parseInt(data.phone_index) || 1;\nconst lead = $('Loop Over Leads').first().json;\nconst currentAttempts = parseInt(lead.call_attempts) || 0;\nconst MAX_API_RETRIES = 3;\n\nconst update = {\n  lead_id: data.lead_id,\n  call_status: 'retry',\n  last_call_date: new Date().toISOString(),\n  call_attempts: String(currentAttempts + 1),\n};\n\n// If API failed 3+ times on same phone, shift to next phone\nif (currentAttempts >= MAX_API_RETRIES && phoneIndex < 3) {\n  // Move to next phone\n  update.current_phone_index = String(phoneIndex + 1);\n  update.next_call_date = new Date(Date.now() + 60 * 60 * 1000).toISOString();\n  // Mark current phone as failed\n  if (phoneIndex === 1) update.phone_1_status = 'failed';\n  if (phoneIndex === 2) update.phone_2_status = 'failed';\n  if (phoneIndex === 3) update.phone_3_status = 'failed';\n} else if (currentAttempts >= MAX_API_RETRIES && phoneIndex >= 3) {\n  // All phones exhausted\n  update.current_phone_index = String(phoneIndex);\n  update.call_status = 'exhausted';\n  update.follow_up_status = 'exhausted';\n  update.next_call_date = '';\n  if (phoneIndex === 1) update.phone_1_status = 'failed';\n  if (phoneIndex === 2) update.phone_2_status = 'failed';\n  if (phoneIndex === 3) update.phone_3_status = 'failed';\n} else {\n  // Retry same phone in 30 min — API error is not the phone's fault\n  update.current_phone_index = String(phoneIndex);\n  update.next_call_date = new Date(Date.now() + 30 * 60 * 1000).toISOString();\n  if (phoneIndex === 1) update.phone_1_status = 'retry';\n  if (phoneIndex === 2) update.phone_2_status = 'retry';\n  if (phoneIndex === 3) update.phone_3_status = 'retry';\n}\n\nreturn [{ json: update }];\n"
      },
      "id": "b07206fe-5928-440f-b89f-360109f7b8c7",
      "name": "Prepare Failed Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        240
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0",
          "mode": "list",
          "cachedResultName": "us-masterqueue",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1bKvWR2SN03ZjwSrs6cKrN_nkzaDo-PoMiC6vCfVQdz0/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "lead_id"
          ],
          "schema": [
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "company",
              "displayName": "company",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_1",
              "displayName": "phone_1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_2",
              "displayName": "phone_2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_3",
              "displayName": "phone_3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_phone_index",
              "displayName": "current_phone_index",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_1_status",
              "displayName": "phone_1_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_2_status",
              "displayName": "phone_2_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_3_status",
              "displayName": "phone_3_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email",
              "displayName": "email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_name",
              "displayName": "event_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "event_date",
              "displayName": "event_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "venue",
              "displayName": "venue",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "city",
              "displayName": "city",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "added_date",
              "displayName": "added_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority_score",
              "displayName": "priority_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_status",
              "displayName": "call_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_attempts",
              "displayName": "call_attempts",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_call_date",
              "displayName": "last_call_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_call_date",
              "displayName": "next_call_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "retell_call_id",
              "displayName": "retell_call_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_duration",
              "displayName": "call_duration",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_transcript",
              "displayName": "call_transcript",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "recording_url",
              "displayName": "recording_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "user_sentiment",
              "displayName": "user_sentiment",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "disconnection_reason",
              "displayName": "disconnection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_outcome",
              "displayName": "call_outcome",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "interest_level",
              "displayName": "interest_level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_summary",
              "displayName": "call_summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "meeting_scheduled",
              "displayName": "meeting_scheduled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "email_captured",
              "displayName": "email_captured",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "objection_reason",
              "displayName": "objection_reason",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "callback_time",
              "displayName": "callback_time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "decision_maker",
              "displayName": "decision_maker",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "pain_points",
              "displayName": "pain_points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "next_steps",
              "displayName": "next_steps",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "follow_up_status",
              "displayName": "follow_up_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alert_sent",
              "displayName": "alert_sent",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "alert_sent_date",
              "displayName": "alert_sent_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "demo_scheduled",
              "displayName": "demo_scheduled",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_successful",
              "displayName": "call_successful",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "call_cost",
              "displayName": "call_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "agent_id",
              "displayName": "agent_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "phone_captured",
              "displayName": "phone_captured",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "is_hot",
              "displayName": "is_hot",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "6e5af8e7-c032-474f-8596-a048952c92b3",
      "name": "Mark Call Failed",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        960,
        240
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "VZ12jhLOk00TSamu",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "minutes"
      },
      "id": "9688aa64-f950-4f91-87c7-df4ada1c6444",
      "name": "Wait Between Calls",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1184,
        224
      ],
      "webhookId": "3e1ce76b-dfdc-4cbc-b1ac-8fe20d08d205"
    },
    {
      "parameters": {},
      "id": "fb5a440f-80bb-48cc-9fed-0383200fcb97",
      "name": "No Leads",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -832,
        416
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check Business Hours",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Business Hours": {
      "main": [
        [
          {
            "node": "Read Google Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Google Sheet": {
      "main": [
        [
          {
            "node": "Filter & Sort Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter & Sort Leads": {
      "main": [
        [
          {
            "node": "Has Leads?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Leads?": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Leads": {
      "main": [
        [],
        [
          {
            "node": "Prepare Calling Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Calling Update": {
      "main": [
        [
          {
            "node": "Update Status to Calling",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Calling": {
      "main": [
        [
          {
            "node": "Prepare Retell Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Retell Data": {
      "main": [
        [
          {
            "node": "Call Retell API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Retell API": {
      "main": [
        [
          {
            "node": "Parse & Store Call ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Store Call ID": {
      "main": [
        [
          {
            "node": "Call Started?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Started?": {
      "main": [
        [
          {
            "node": "Prepare Call ID Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Failed Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Call ID Update": {
      "main": [
        [
          {
            "node": "Update Call ID in Sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Call ID in Sheet": {
      "main": [
        [
          {
            "node": "Wait Between Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Failed Update": {
      "main": [
        [
          {
            "node": "Mark Call Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Call Failed": {
      "main": [
        [
          {
            "node": "Wait Between Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Between Calls": {
      "main": [
        [
          {
            "node": "Loop Over Leads",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "41c085c1-3904-41d7-8b65-9a07c2eb3f53",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a0e42c1d31da8fc890458d25fe306020bf89ef8b90e1e0252fbe295dd492109d"
  },
  "id": "eWMJi4eKI7Rf3H38",
  "tags": [
    {
      "updatedAt": "2026-02-04T08:45:09.146Z",
      "createdAt": "2026-02-04T08:45:09.146Z",
      "id": "dCusG8oU3gDWhIrq",
      "name": "Retell AI"
    },
    {
      "updatedAt": "2026-02-04T08:45:09.182Z",
      "createdAt": "2026-02-04T08:45:09.182Z",
      "id": "xJQmsy6KRXY1Gdod",
      "name": "EventTitans"
    },
    {
      "updatedAt": "2026-02-04T08:45:09.117Z",
      "createdAt": "2026-02-04T08:45:09.117Z",
      "id": "y88nWRdUsFmAgcDi",
      "name": "Cold Calling"
    }
  ]
}